$theme-color: #297854;

body {
	font-family: 'Raleway', sans-serif;
}
.container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: $theme-color;
	color: white;
	padding: 0 20px 0 20px;
}
.sign-in {
	background-color: white;
	color: $theme-color;
	border: none;
	padding: 5px;
	width: 75px;
}
.information {
	color: $theme-color;
}
.poll-list {
	color: $theme-color;
	border: 1px solid $theme-color;
	text-align: center;
}
.footer {
	color: $theme-color;
	font-size: 0.75em;
	a {
		color: $theme-color;
	}
}