/* line 5, ../sass/screen.scss */
body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px 0 10px;
}

/* line 11, ../sass/screen.scss */
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* line 16, ../sass/screen.scss */
.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #297854;
  color: white;
  padding: 0 20px 0 20px;
}

/* line 25, ../sass/screen.scss */
.button {
  background-color: white;
  color: #297854;
  border: none;
  padding: 5px;
  width: 75px;
}
/* line 31, ../sass/screen.scss */
.button:hover {
  cursor: pointer;
}

/* line 35, ../sass/screen.scss */
.information {
  color: #297854;
}

/* line 38, ../sass/screen.scss */
.poll-list {
  color: #297854;
  text-align: center;
}

/* line 42, ../sass/screen.scss */
.poll-item, .mypoll-item {
  text-align: left;
  list-style: none;
  border: 1px solid #297854;
  padding: 5px;
  margin: 5px 0 0 0;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 52, ../sass/screen.scss */
.poll-item span, .mypoll-item span {
  font-size: 0.8em;
}
/* line 55, ../sass/screen.scss */
.poll-item a, .mypoll-item a {
  color: #297854;
  text-decoration: none;
}

/* line 60, ../sass/screen.scss */
.poll-item {
  display: none;
}

/* line 63, ../sass/screen.scss */
#chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* line 69, ../sass/screen.scss */
#wrapper, .vote-form-div {
  width: 50%;
  max-width: 500px;
}

/* line 74, ../sass/screen.scss */
.vote-form input {
  margin: 5px;
}

/* line 78, ../sass/screen.scss */
.vote-button {
  padding: 5px;
  width: 150px;
  color: white;
  background-color: #297854;
  border: none;
  margin: 15px 5px 5px 5px !important;
}
/* line 85, ../sass/screen.scss */
.vote-button:hover {
  cursor: pointer;
}

/* line 89, ../sass/screen.scss */
.footer {
  padding: 2px 10px 2px 10px;
  background-color: #297854;
  color: white;
  margin: 0;
  font-size: 0.75em;
}
/* line 95, ../sass/screen.scss */
.footer a {
  color: white;
}
/* line 98, ../sass/screen.scss */
.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -3px;
}

/* line 105, ../sass/screen.scss */
.layer {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.85;
  z-index: 1;
  display: none;
}

/* line 116, ../sass/screen.scss */
.new-poll {
  width: 100%;
  padding: 0 10px 20px 10px;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
}

/* line 126, ../sass/screen.scss */
.new-poll-header {
  width: 100%;
  text-align: center;
}

/* line 130, ../sass/screen.scss */
#new-poll-form {
  max-width: 315px;
  width: 100%;
  position: relative;
  left: calc((100% - 315px) / 2);
}

/* line 136, ../sass/screen.scss */
.input-field {
  width: 100%;
}

/* line 139, ../sass/screen.scss */
.option-form {
  margin-bottom: 20px;
}

/* line 142, ../sass/screen.scss */
.delete-button {
  background-color: #ED5E68;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 4px 8px 4px 8px;
}
/* line 148, ../sass/screen.scss */
.delete-button:hover {
  cursor: pointer;
}

/* line 153, ../sass/screen.scss */
.delete-button-inPollPage {
  width: 100%;
  background-color: #ED5E68;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 5px;
  margin: 15px 0 15px 0;
}
/* line 161, ../sass/screen.scss */
.delete-button-inPollPage:hover {
  cursor: pointer;
}

/* line 165, ../sass/screen.scss */
#new-poll-submit, #new-form-cancel {
  width: 100%;
  color: white;
  border: none;
  padding: 6px;
  margin-top: 10px;
  border-radius: 3px;
}
/* line 172, ../sass/screen.scss */
#new-poll-submit:hover, #new-form-cancel:hover {
  cursor: pointer;
}

/* line 176, ../sass/screen.scss */
#new-poll-submit {
  background-color: #297854;
}

/* line 179, ../sass/screen.scss */
#new-form-cancel {
  background-color: #ED5E68;
}

/* line 182, ../sass/screen.scss */
.option-button {
  padding: 4px;
  width: 40%;
  margin: 10px 4% 0 4%;
}

/* line 187, ../sass/screen.scss */
.sign-in {
  color: white;
  background-color: #3B5998;
  border: 1px solid white;
  padding: 5px;
  width: 115px;
}
/* line 193, ../sass/screen.scss */
.sign-in:hover {
  cursor: pointer;
}

/* line 197, ../sass/screen.scss */
#share {
  background-color: #3B5998;
  padding: 5px;
  border: none;
  color: white;
}
/* line 202, ../sass/screen.scss */
#share:hover {
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  /* line 208, ../sass/screen.scss */
  #wrapper, .vote-form-div {
    width: 100%;
  }

  /* line 211, ../sass/screen.scss */
  .menu-buttons {
    width: 100%;
    margin: 5px 0 10px 0;
    text-align: center;
  }

  /* line 216, ../sass/screen.scss */
  .banner, .greeting {
    margin: 5px 0 0 0;
  }
}
