/* line 4, ../sass/screen.scss */
body {
  font-family: 'Raleway', sans-serif;
}

/* line 7, ../sass/screen.scss */
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* line 12, ../sass/screen.scss */
.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #297854;
  color: white;
  padding: 0 20px 0 20px;
}

/* line 21, ../sass/screen.scss */
.button {
  background-color: white;
  color: #297854;
  border: none;
  padding: 5px;
  width: 75px;
}
/* line 27, ../sass/screen.scss */
.button:hover {
  cursor: pointer;
}

/* line 31, ../sass/screen.scss */
.information {
  color: #297854;
}

/* line 34, ../sass/screen.scss */
.poll-list {
  color: #297854;
  text-align: center;
}

/* line 38, ../sass/screen.scss */
.poll-item, .mypoll-item {
  text-align: left;
  list-style: none;
  border: 1px solid #297854;
  padding: 5px;
  margin: 5px 0 0 0;
  border-radius: 5px;
}
/* line 45, ../sass/screen.scss */
.poll-item span, .mypoll-item span {
  font-size: 0.8em;
}
/* line 48, ../sass/screen.scss */
.poll-item a, .mypoll-item a {
  color: #297854;
  text-decoration: none;
}

/* line 53, ../sass/screen.scss */
.poll-item {
  display: none;
}

/* line 56, ../sass/screen.scss */
#chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* line 62, ../sass/screen.scss */
#wrapper, .vote-form-div {
  width: 50%;
  max-width: 500px;
}

/* line 67, ../sass/screen.scss */
.vote-form input {
  margin: 5px;
}

/* line 71, ../sass/screen.scss */
.vote-button {
  padding: 5px;
  width: 150px;
  color: white;
  background-color: #297854;
  border: none;
  margin: 15px 5px 5px 5px !important;
}
/* line 78, ../sass/screen.scss */
.vote-button:hover {
  cursor: pointer;
}

/* line 82, ../sass/screen.scss */
.footer {
  color: #297854;
  font-size: 0.75em;
}
/* line 85, ../sass/screen.scss */
.footer a {
  color: #297854;
}

/* line 89, ../sass/screen.scss */
.layer {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.85;
  z-index: 1;
  display: none;
}

/* line 100, ../sass/screen.scss */
.new-poll {
  width: 100%;
  padding: 0 10px 20px 10px;
  background-color: white;
  color: gray;
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  display: none;
}

/* line 115, ../sass/screen.scss */
.new-poll-header {
  width: 100%;
  text-align: center;
}

/* line 119, ../sass/screen.scss */
#new-poll-form {
  width: 350px;
}

/* line 122, ../sass/screen.scss */
.input-field {
  width: 100%;
}

/* line 125, ../sass/screen.scss */
.option-form {
  margin-bottom0: 20px;
}

/* line 128, ../sass/screen.scss */
.delete-button {
  background-color: #ED5E68;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 4px 8px 4px 8px;
}
/* line 134, ../sass/screen.scss */
.delete-button:hover {
  cursor: pointer;
}

/* line 139, ../sass/screen.scss */
.delete-button-inPollPage {
  width: 100%;
  background-color: #ED5E68;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 5px;
  margin: 15px 0 15px 0;
}
/* line 147, ../sass/screen.scss */
.delete-button-inPollPage:hover {
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  /* line 153, ../sass/screen.scss */
  #wrapper, .vote-form-div {
    width: 100%;
  }
}
