<!DOCTYPE HTML>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Voting Vortex</title>
	<link rel="stylesheet" href="stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="menu">
			<h2 class="banner">Voting Vortex</h2> 
			<% if (user) { %>
				<h4>Welcome <%= user.displayName %></h4>
				<button id="new-poll-button" class="button">Add a poll</button>
				<button class="button">My polls</button>
				<a href="/logout"><button class="button">Logout</button></a>
			<% } else { %>
				<a href="/login/facebook"><button class="button">Sign in</button></a>
			<% } %>

		</div>
		<div class="information">
			<h4>Select a poll from below to view and vote!</h4>
		</div>
		<div class="poll-list">
			<p>Please wait while data are being loaded...</p>
		</div>

		<div class="layer"></div>
		<div class="new-poll">
			<p class="new-poll-header"> Add a new poll</p>
			<form id="new-poll-form" method="post">
				<p>Enter the poll's name:</p>
				<input class="input-field" id="new-poll-name" placeholder="Enter the poll's name" type="text" name="name">
				<p>Below you can add voting options:</p>
				<div class="new-poll-options">
					<input class="input-field" placeholder="Option" type="text" name="option">
					<input class="input-field" placeholder="Option" type="text" name="option">
				</div>
				<button type="submit">Add Poll</button>
				<button id="add-option">Add option</button>
				<button id="new-form-cancel">Cancel</button>
			</form>
		</div>

		<hr/>
		<div class="footer">
			<div class="author">
				<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
				<p>Visit my pages:</p>
				<ul class="pages">
					<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
					<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
					<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
					<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$.get("/home", function(data) {
				$(".poll-list").empty();
				for (var entry in data) {
					var poll = data[entry].name;
					var votes = data[entry].votes;
					var id = data[entry].id;
					$(".poll-list").append("<li id="+poll+" class='poll-item'><a href='/polls/"+id+"'>"+poll+" <span>("+votes+" voted!)</span></a></li>");
					$(".poll-item").slideDown();
				}
			});
			$("#new-poll-button").click(function() {
				$(".layer, .new-poll").fadeToggle();
			})
			$("#add-option").click(function(e) {
				e.preventDefault();
				$(".new-poll-options").append('<input class="input-field" placeholder="Option" type="text" name="option">');
			});
			$("#new-form-cancel").click(function(e) {
				e.preventDefault();
				document.getElementById("new-poll-form").reset();
				$(".layer, .new-poll").fadeToggle();
			});
			$("#new-poll-form").on("submit", function(e) {
				e.preventDefault();
				var allFilled = true;
				$(".input-field").each(function(i) {
					if ($(this).val() == "" || $(this).val() == " ") {
						allFilled = false;
					}
				});
				if (allFilled) {
					e.target.submit();
				} else {
					alert("Please make sure all field are filled.");
				}
			});
		})
	</script>
</body>
</html>