<!DOCTYPE HTML>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Voting Vortex</title>
	<!-- The '/' is necessary before the path in href, without it the file won't be found. -->
	<link rel="stylesheet" href="/stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="menu">
			<h2 class="banner">Voting Vortex</h2>
			<button class="sign-in">Sign in</button>
		</div>
		
		<h1><%=name%></h1>
		<h2>Number of votes: <%=votes%></h2>

		<hr/>
		<div class="footer">
			<div class="author">
				<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
				<p>Visit my pages:</p>
				<ul class="pages">
					<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
					<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
					<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
					<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			console.log(<%=votes%>);
		})
	</script>
</body>
</html>