$theme-color: #297854;

body {
	font-family: 'Raleway', sans-serif;
}
.container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: $theme-color;
	color: white;
	padding: 0 20px 0 20px;
}
.button {
	background-color: white;
	color: $theme-color;
	border: none;
	padding: 5px;
	width: 75px;
	&:hover {
		cursor: pointer;
	}
}
.information {
	color: $theme-color;
}
.poll-list {
	color: $theme-color;
	text-align: center;
}
.poll-item {
	display: none;
	text-align: left;
	list-style: none;
	border: 1px solid $theme-color;
	padding: 5px;
	margin: 5px 0 0 0;
	border-radius: 5px;
	span {
		font-size: 0.8em;
	}
	a {
		color: $theme-color;
		text-decoration: none;
	}
}
#chart {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
#wrapper, .vote-form {
	width: 50%;
	max-width: 500px;
}
.vote-form {
	input {
		margin: 5px;
	}
}
.vote-button {
	padding: 5px;
	width: 150px;
	color: white;
	background-color: $theme-color;
	border: none;
	margin: 15px 5px 20px 5px !important;
	&:hover {
		cursor: pointer;
	}
}
.footer {
	color: $theme-color;
	font-size: 0.75em;
	a {
		color: $theme-color;
	}
}

@media screen and (max-width: 650px) {
	#wrapper, .vote-form {
		width: 100%;
	}
}