$theme-color: #297854;
$delete-color: #ED5E68;
$facebook-color: #3B5998;

body {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0 10px 0 10px;
}
.container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: $theme-color;
	color: white;
	padding: 0 20px 0 20px;
}
.button {
	background-color: white;
	color: $theme-color;
	border: none;
	padding: 5px;
	width: 75px;
	&:hover {
		cursor: pointer;
	}
}
.information {
	color: $theme-color;
}
.poll-list {
	color: $theme-color;
	text-align: center;
}
.poll-item, .mypoll-item {
	text-align: left;
	list-style: none;
	border: 1px solid $theme-color;
	padding: 5px;
	margin: 5px 0 0 0;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	span {
		font-size: 0.8em;
	}
	a {
		color: $theme-color;
		text-decoration: none;
	}
}
.poll-item {
	display: none;
}
#chart {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
#wrapper, .vote-form-div {
	width: 50%;
	max-width: 500px;
}
.vote-form {
	input {
		margin: 5px;
	}
}
.vote-button {
	padding: 5px;
	width: 150px;
	color: white;
	background-color: $theme-color;
	border: none;
	margin: 15px 5px 5px 5px !important;
	&:hover {
		cursor: pointer;
	}
}
.footer {
	padding: 2px 10px 2px 10px;
	background-color: $theme-color;
	color: white;
	margin: 0;
	font-size: 0.75em;
	a {
		color: white;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: -3px;
	}
}
.layer {
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	left: 0;
	top:0;
	opacity: 0.85;
	z-index: 1;
	display: none;
}
.new-poll {
	width: 100%;
	padding: 0 10px 20px 10px;
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	display: none;
}
.new-poll-header {
	width: 100%;
	text-align: center;
}
#new-poll-form {
	max-width: 315px;
	width: 100%;
	position: relative;
	left: calc((100% - 315px) / 2);
}
.input-field {
	width: 100%;
}
.option-form {
	margin-bottom: 20px;
}
.delete-button {
	background-color: $delete-color;
	color: white;
	border: none;
	border-radius: 2px;
	padding: 4px 8px 4px 8px;
	&:hover {
		cursor: pointer;
	}
}

.delete-button-inPollPage {
	width: 100%;
	background-color: $delete-color;
	border: none;
	color: white;
	border-radius: 2px;
	padding: 5px;
	margin: 15px 0 15px 0;
	&:hover {
		cursor: pointer;
	}
}
#new-poll-submit, #new-form-cancel {
	width: 100%;
	color: white;
	border: none;
	padding: 6px;
	margin-top: 10px;
	border-radius: 3px;
	&:hover {
		cursor: pointer;
	}
}
#new-poll-submit {
	background-color: $theme-color;
}
#new-form-cancel {
	background-color: $delete-color;
}
.option-button {
	padding: 4px;
	width: 40%;
	margin: 10px 4% 0 4%; 
}
.sign-in {
	color: white;
	background-color: $facebook-color;
	border: 1px solid white;
	padding: 5px;
	width: 115px;
	&:hover {
		cursor: pointer;
	}
}
#share {
	background-color: $facebook-color;
	padding: 5px;
	border: none;
	color: white;
	&:hover {
		cursor: pointer;
	}
}

@media screen and (max-width: 650px) {
	#wrapper, .vote-form-div {
		width: 100%;
	}
	.menu-buttons {
		width: 100%;
		margin: 5px 0 10px 0;
		text-align: center;
	}
	.banner, .greeting {
		margin: 5px 0 0 0;
	}
}